*.DS_Store
Galvani-backups/
fp-info-cache
_autosave*
\#auto_saved_files\#
*bak
*.xml
.ipynb_checkpoints
~*
*-erc.txt
*-drc.txt
kibot_errors.filter
/Galvani.csv
/Galvani.bak
/Galvani_bom_.csv
*.swp
*.swo
